In [2]:
import pandas as pd

In [3]:
s = pd.Series(list('adfajsfhasdiufnasdijcnasdfasd'))
s

0     a
1     d
2     f
3     a
4     j
5     s
6     f
7     h
8     a
9     s
10    d
11    i
12    u
13    f
14    n
15    a
16    s
17    d
18    i
19    j
20    c
21    n
22    a
23    s
24    d
25    f
26    a
27    s
28    d
dtype: object

In [4]:
s.unique()

array(['a', 'd', 'f', 'j', 's', 'h', 'i', 'u', 'n', 'c'], dtype=object)

In [5]:
s.value_counts()

a    6
s    5
d    5
f    4
n    2
i    2
j    2
c    1
u    1
h    1
dtype: int64

In [10]:
dados = pd.read_csv('dados/aluguel.csv',sep=';')
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
19826,Quitinete,Glória,1,0,0,10,400.0,107.0,10.0,40.00,Apartamento
19827,Quitinete,Flamengo,1,0,0,23,900.0,605.0,0.0,39.13,Apartamento
19828,Quitinete,Centro,1,0,0,24,1100.0,323.0,0.0,45.83,Apartamento
19829,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0,68.18,Apartamento
19830,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento

In [11]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [13]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64