In [2]:
import pandas as pd

In [3]:
data = [0.5,None,None, 0.52, 0.54,None,None,0.59,None,0.7]
s = pd.Series(data)
s

0    0.50
1     NaN
2     NaN
3    0.52
4    0.54
5     NaN
6     NaN
7    0.59
8     NaN
9    0.70
dtype: float64

In [5]:
s.fillna(0)

0    0.50
1    0.00
2    0.00
3    0.52
4    0.54
5    0.00
6    0.00
7    0.59
8    0.00
9    0.70
dtype: float64

In [6]:
s

0    0.50
1     NaN
2     NaN
3    0.52
4    0.54
5     NaN
6     NaN
7    0.59
8     NaN
9    0.70
dtype: float64

In [7]:
s.fillna(method= 'ffill')

0    0.50
1    0.50
2    0.50
3    0.52
4    0.54
5    0.54
6    0.54
7    0.59
8    0.59
9    0.70
dtype: float64

In [8]:
s.fillna(method='bfill')

0    0.50
1    0.52
2    0.52
3    0.52
4    0.54
5    0.59
6    0.59
7    0.59
8    0.70
9    0.70
dtype: float64

In [9]:
s.fillna(s.mean())

0    0.50
1    0.57
2    0.57
3    0.52
4    0.54
5    0.57
6    0.57
7    0.59
8    0.57
9    0.70
dtype: float64

In [13]:
s1 = s.fillna(method = 'ffill',limit=1)
s1

0    0.50
1    0.50
2     NaN
3    0.52
4    0.54
5    0.54
6     NaN
7    0.59
8    0.59
9    0.70
dtype: float64

In [14]:
s1.fillna(method = 'bfill',limit=1)

0    0.50
1    0.50
2    0.52
3    0.52
4    0.54
5    0.54
6    0.59
7    0.59
8    0.59
9    0.70
dtype: float64